altgraph==0.17.4
base58==2.1.1
packaging==24.2
pefile==2024.8.26
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
PyQt6==6.7.1
PyQt6-Qt6==6.7.3
PyQt6_sip==13.9.0
pywin32-ctypes==0.2.3
setuptools==75.6.0
